<GulfLinks>	<main>		<itemCircle radius="550" />		<window xOff = "1680" fullscreen="true" />		<initTags>			<tag>environment</tag>			<tag>history</tag>			<tag>recreation</tag>			<tag>weather</tag>			<tag>industry</tag>		</initTags>	</main>		<feedLoader>		<host url="http://map-server.local" path="/gl/fetch.php" />	</feedLoader></GulfLinks>