<GulfLinks>	<main>		<itemCircle radius="550" />		<initTags>			<tag>environment</tag>			<tag>oil</tag>			<tag>pollution</tag>			<tag>weather</tag>			<tag>industry</tag>		</initTags>	</main>		<feedLoader>		<host url="http://map-server.local" path="/gl/fetch.php" />	</feedLoader></GulfLinks>