.header{
	font-family: 'Univers67BoldCondensed';
	text-decoration: none;
	color: #1e3d6b;
	text-shadow: #dbf2f7 1px -1px 1px;
	margin-left: 0px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	font-size:16pt;
	}

.title{
	font-family: 'Univers67BoldCondensed';
	text-decoration: none;
	color: #dbf2f7;
	text-shadow: black 2px -1px 2px;
	margin-left: 0px;
	margin-top: 0;
	margin-bottom: 20px;
	margin-right: 0;
	font-size:22pt;
	padding-left:15px;
	font-variant:small-caps;
	background-color: #547c86;
	
}


	
p{
	font-family: 'Univers57Condensed';
	margin-left:20px;
	font-size:12pt;
	color: white;
	text-shadow: black 1px -1px 1px;
	visibility: hidden;
	height: 0px;
}
body{background:url('bg.jpg');}

.links{
margin-left:25px;
}

.wrap{
background:url('white_15.png');
height:95%;
overflow:hidden;
margin-left:60%;
box-shadow: #293b3f 2px 2px 8px;}