<signalFlags>	<section as3class="dictionary">		<definitions>dictionary.xml</definitions>		<page>			<pageLeft>				<offStage X="-999" Y="400" roZ="-100" />				<onStage X="1180" Y="1047" roZ="0" />				<tranIn time="1">easeInSine</tranIn>				<tranOut time="1">easeInSine</tranOut>			</pageLeft>						<pageRight>				<offStage X="-200" Y="200" roZ="100" />				<onStage X="796" Y="1069" roZ="0" />				<tranIn time="1"> easeInSine</tranIn>				<tranOut time="1" >easeInSine</tranOut>			</pageRight>		</page>	</section></signalFlags>